* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}


body {
	margin: 0;
}

/*For the header bar*/

.container {
	padding-left: 20px;
	padding-right: 20px;
}

header {
	width: 100%;
	background-color: lightgray;
	position: fixed;
	height: 60px;
}

header h1 {
	display: inline-block;
	font-size: 18pt;
}

header ul {
	list-style: none;
	position: fixed;
	left: 80%;
	display: inline-block;
}

header li {
	font-size: 18pt;
	display: inline;
	margin-left: 10px;
}

/*For the main*/
main {
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 100px;
}

/*For the Search Bar*/
label {
	font-size: 12pt;
	display: block;
	margin-left: 5px;
	margin-bottom: 5px;
}

.input-box {
	font-size: 14pt;
	width: 400px;
	border-radius: 3px;
}

.magnifying-glass {
	border-radius: 3px;
	width: 28px;
	border: 1px solid lightgray;
	vertical-align: bottom;
}

.top-section {
	padding-bottom: 50px;
}

/*For the nav*/
.prev-box {
	border: 1px solid lightgray;
	border-radius: 3px 0 0 3px;
	margin-right: -5px;
	padding: 8px;
}

.pages-box {
	border: 1px solid lightgray;
	padding: 8px 20px 8px 20px;
}

.next-box {
	border: 1px solid lightgray;
	border-radius: 0 3px 3px 0;
	margin-left: -5px;
	padding: 8px;
}

.black {
	color: black;
}

/*For the Job Listings*/
.listing-spacing {
	padding-top: 50px;
}

section ul {
	list-style: none;
	padding: 0;
}

section li {
	margin-bottom: 10px;
}

.gray {
	color: gray;
}

.jobs {
	color: blue;
	padding-left: 5px;
	padding-right: 5px;
}