* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: purple;
}

body {
	margin: 0;
}

/*For the header bar*/

.container {
	padding-left: 20px;
	padding-right: 20px;
}

header {
	width: 100%;
	background-color: lightgray;
	position: fixed;
	height: 60px;
}

header h1 {
	display: inline-block;
	font-size: 18pt;
}

header ul {
	list-style: none;
	position: fixed;
	left: 80%;
	display: inline-block;
}

header li {
	font-size: 18pt;
	display: inline;
	margin-left: 10px;
}

/*For the main*/
main {
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 100px;
}

label {
	font-size: 12pt;
	display: block;
	margin-left: 5px;
	margin-bottom: 5px;
}

.input-box {
	font-size: 14pt;
	width: 400px;
	border-radius: 3px;
}

.magnifying-glass {
	border-radius: 3px;
	width: 20px;
	border: 1px solid lightgray;
}

.top-section {
	padding-bottom: 30px;
}